### Data prep

In [1]:
import pandas as pd
from scipy.stats import shapiro
import pandas as pd
import statistics

df = pd.read_csv('movies.csv')
df

,id,title,release year,certificate,runtime,genre,rating,summary,directors,actors,lifetime gross in $
0,tt0499549,Avatar,2009,PG-13,162 min,"Action, Adventure, Fantasy",7.9,A paraplegic Marine dispatched to the moon Pan...,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",2922917914
1,tt4154796,Avengers: Endgame,2019,PG-13,181 min,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",2797501328
2,tt0120338,Titanic,1997,PG-13,194 min,"Drama, Romance",7.9,A seventeen-year-old aristocrat falls in love ...,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane, K...",2201647264
3,tt2488496,Star Wars: Episode VII - The Force Awakens,2015,PG-13,138 min,"Action, Adventure, Sci-Fi",7.8,"As a new threat to the galaxy rises, Rey, a de...",J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",2069521700
4,tt4154756,Avengers: Infinity War,2018,PG-13,149 min,"Action, Adventure, Sci-Fi",8.4,The Avengers and their allies must be willing ...,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",2048359754
...,...,...,...,...,...,...,...,...,...,...,...
995,tt1536044,Paranormal Activity 2,2010,R,91 min,"Horror, Mystery",5.7,After experiencing what they think are a serie...,Tod Williams,"Katie Featherston, Micah Sloat, Molly Ephraim,...",177512032
996,tt0251127,How to Lose a Guy in 10 Days,2003,PG-13,116 min,"Comedy, Romance",6.4,Benjamin Barry is an advertising executive and...,Donald Petrie,"Kate Hudson, Matthew McConaughey, Adam Goldber...",177502387
997,tt0370263,Alien vs. Predator,2004,PG-13,101 min,"Action, Adventure, Horror",5.6,During an archaeological expedition on Bouvetø...,Paul W.S. Anderson,"Sanaa Lathan, Lance Henriksen, Raoul Bova, Ewe...",177427090
998,tt0299977,Hero,2002,PG-13,120 min,"Action, Adventure, Drama",7.9,"A defense officer, Nameless, was summoned by t...",Yimou Zhang,"Jet Li, Tony Leung Chiu-wai, Maggie Cheung, Zi...",177395557
999,tt0405422,The 40-Year-Old Virgin,2005,R,116 min,"Comedy, Romance",7.1,"Goaded by his buddies, a nerdy guy who's never...",Judd Apatow,"Steve Carell, Catherine Keener, Paul Rudd, Rom...",177378645

In [2]:


# Loop through all values in the 'release year' column and remove non-numeric characters
for i in range(len(df['release year'])):
    df.at[i, 'release year'] = ''.join(filter(str.isdigit, str(df.at[i, 'release year'])))
    
# Clean the 'release year' column
for i in range(len(df['release year'])):
    df.at[i, 'release year'] = ''.join(filter(str.isdigit, str(df.at[i, 'release year'])))

# Convert the cleaned 'release year' column to integers
df['release year'] = df['release year'].astype(int)

# Convert the 'runtime' column to integers
df['runtime'] = df['runtime'].str.split().str[0].astype(int)

In [3]:
# number of columns and rows in the dataframe.
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

# type of data in the dataframe columns.
df.dtypes

Number of rows: 1000
Number of columns: 11

id                      object
title                   object
release year             int32
certificate             object
runtime                  int32
genre                   object
rating                 float64
summary                 object
directors               object
actors                  object
lifetime gross in $      int64
dtype: object

Frederik skriv her! - runtime og release year til int/float

In [8]:
# descriptive parameters of the numeric data (mean, median, mode, min, max, range, count)



# Getting numeric values from original Dataframe.
numeric_df = df[['rating', 'lifetime gross in $', 'runtime', 'release year']]

# convert multiple columns to lists
list_of_ratings = numeric_df['rating'].tolist()
list_of_gross = numeric_df['lifetime gross in $'].tolist()
list_of_runtime = numeric_df['runtime'].tolist()
list_of_release_year = numeric_df['release year'].tolist()
combined_list = [list_of_ratings, list_of_gross, list_of_runtime, list_of_release_year]

# calculate the sum, count, mean, median, mode, variance, and standard deviation
for i, col in zip(combined_list, ['rating', 'lifetime gross in $', 'runtime', 'release year']):
    # print the results
    print(f"Descriptive parameters of {col}:\n")
    print(f"Mean: {sum(i) / len(i)}")
    print(f"Median: {statistics.median(i)}")
    print(f"Mode: {statistics.mode(i)}")
    print(f"Min: {min(i)}")
    print(f"Max: {max(i)}")
    print(f"Range: {max(i) - min(i)}")
    print(f"Count: {len(i)} \n")

Descriptive parameters of rating:

Mean: 6.801100000000004
Median: 6.8
Mode: 6.5
Min: 2.6
Max: 9.2
Range: 6.6
Count: 1000

Descriptive parameters of lifetime gross in $:

Mean: 413972057.275
Median: 310981604.5
Mode: 2922917914
Min: 177378645
Max: 2922917914
Range: 2745539269
Count: 1000

Descriptive parameters of runtime:

Mean: 117.794
Median: 116.0
Mode: 115
Min: 69
Max: 238
Range: 169
Count: 1000

Descriptive parameters of release year:

Mean: 2007.758
Median: 2010.0
Mode: 2017
Min: 1937
Max: 2022
Range: 85
Count: 1000

In [5]:

# We can visualize the above here

In [6]:
# Exploring the missing values values in the dataset.

# Count the number of missing values in each column
missing_count = df.isna().sum()

# Select the column names with missing values
missing_cols = missing_count[missing_count > 0].index.tolist()

# Print the column names with missing values and their respective missing value counts
if len(missing_cols) > 0:
    for col in missing_cols:
        print(f"{col}: {missing_count[col]} missing values")
else:
    print("No missing values in the dataframe.")

No missing values in the dataframe.

### Correlation matrix

In [9]:
# create a new DataFrame from the combined_list
new_df = pd.DataFrame({
    'rating': combined_list[0],
    'lifetime gross in $': combined_list[1],
    'runtime': combined_list[2],
    'release year': combined_list[3]
})

# create a correlation matrix for the new DataFrame
corr_matrix = new_df.corr()

# print the correlation matrix
print(corr_matrix)

                       rating  lifetime gross in $   runtime  release year
rating               1.000000             0.253002  0.359312     -0.172461
lifetime gross in $  0.253002             1.000000  0.300148      0.197671
runtime              0.359312             0.300148  1.000000      0.027435
release year        -0.172461             0.197671  0.027435      1.000000